<!-- login page -->
<h1>Login to your account</h1>
<%= form_for :session, url: sessions_path do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Log in!' %>
  </p>
<% end %>
