<!-- login page -->
<h1>Login to your account</h1>
<%= bootstrap_form_for( :session, url: sessions_path, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <%= f.email_field :email %><br>
  <%= f.password_field :password %><br>
  <div class="submit"><%= f.form_group do %></div>
    <%= f.submit "log in", class: "btn btn-info"%>
  <% end %>
<% end %>
