<h2 class="section-title"><%= @user.first_name %> <%= @user.last_name%> </h2>

<div id="current-session-user-schedule">
  <h3>Current Session</h3>
    <table>
      <tr>
        <th colspan="1"></th>
      <% @week.each do |day| %>
        <th><%= day.name %></th>
      <% end  %>
    </tr>

    <tr>
      <th>Week 1</th>
      <% @user.ordered_choices(@schedule)[0..4].each do | selection|%>
      <td>
        <%= selection.group.name %>
      </td>
        <% end %>
    </tr>

    <tr>
      <th>Week 2</th>
      <% @user.ordered_choices(@schedule)[5..9].each do | selection|%>
      <td>
        <%= selection.group.name %>
      </td>
        <% end %>
    </tr>

    <tr>
      <th>Week 3</th>
      <% @user.ordered_choices(@schedule)[10..14].each do | selection|%>
      <td>
        <%= selection.group.name %>
      </td>
        <% end %>
    </tr>
  </table>

</div>

<div id="user-percentages-list">
  <ul>Time spent:
    <li>%--- in Group 1</li>
    <li>%--- in Group 2</li>
    <li>%--- in Group 3</li>
  </ul>
</div>
