<!DOCTYPE html>
<html>
  <head>
    <title>DiveBooksCamp Scheduler</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag "application" %>
  </head>
  <header>
    <nav>
      <ul>
        <li class="btn btn-default"><%= link_to_unless(current_user, "Register", new_user_path)  do
          link_to('Logout', destroy_session_path, method: :delete)
        end %></li>
        <li class="btn btn-default"> <%= link_to_if(current_user, "Profile", current_user) do
         end%></li>
         <li class="btn btn-default"> <%= link_to_if(current_user, "Create Draft", select_draft_path) do end%></li>
      </ul>
    </nav>

    <h1>INSTRUCTOR SCHEDULE - STARTING: <%= @schedule.start_date %></h1>

  </header>
  
  <body>
    <main class="container">
      <%= notice %>
      <%= yield %>
    </main>
  </body>
</html>
